.login-view {
    -fx-pref-width: 600px;
}

.login-title {
    -fx-alignment: center-left;
    -fx-padding: 16px;
}

.login-title > .header {
    -fx-font-size: 18px;
}

.login-body {
    -fx-padding: 0 64px 16px 16px;
}

.al-center-left {
    -fx-alignment: center-left;
}

.sp-5 {
    -fx-spacing: 5px;
}

.w-120 {
    -fx-pref-width: 120px;
}

.text-field, .password-field, .button {
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-color: gray;
}

.button:hover {
    -fx-background-color: gray;
    -fx-text-fill: white;
}